<section id="home" class="hero is-large">
    <div id="confirmation-logo"><img src="/assets/images/logo.svg" alt="Logo"></div>
    <div class="hero-head">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-5">
                    <figure class="image" id="dog-image">
                        <img src="{{img_path}}" alt="{{dogName}} headshot">
                    </figure>

                </div>
                <div class="column is-6" id="information">


                    <h1 class="title is-title is-size-1 has-text-weight-bold">{{dogName}} is excited to hang out with
                        you,
                        {{volunteerName}}!</h1>

                    <p class="subtitle is-4 has-margin-top-20 is-family-primary">Please contact the Atlanta Humane
                        Society to set up a time to walk {{dogName}}!</p>

                    <p><img id="address-icon" src="/assets/images/icons/dog-house.svg" alt="dog house icon">981 Howell Mill Road NW, Atlanta, GA 30318
                    </p>
                    
                    <p><img id="phone-icon" src="/assets/images/icons/smartphone.svg" alt="dog house icon"> (404) 875-5331</p>


                </div>
            </div>
        </div>
    </div>
</section>