<section id="home" class="hero is-large">
    <div id="confirmation-logo"><img src="/assets/images/logo.svg" alt="Logo"></div>
    <div class="hero-head">
        <div class="container">
            <div class="columns">
                <div class="column is-4 is-offset-1">
                    <figure class="image" id="dog-image">
                        <img src="{{img_path}}" alt="{{dogName}} headshot">
                    </figure>

                </div>
                <div class="column is-5" id="information">
                    <br />
                    <h1 class="title is-title is-size-2" style="color:#292F36;">{{dogName}} can't wait to see you,
                        {{volunteerName}}!</h1>

                    <p class="subtitle is-4 is-family-primary">Please contact the Atlanta Humane
                        Society to set up a time to walk {{dogName}}!</p>

                    <div class="field is-grouped is-centered" id="grouped-buttons">
                        <div class="buttons">
                            <button class="button is-primary is-light is-medium" id="googleBtn">Find Us</button>

                            <button class="button is-primary is-light is-medium" id="callBtn">Call Us</button>
                        </div>
                    </div>
                    <br />
                    <div id="shelter-info">
                        <p>981 Howell Mill Road NW, Atlanta, GA 30318 | (404) 875-5331</p></div>
                </div>
            </div>
</section>

<figure class="image" id="desktop-image">
    <img id="dogs-at-bottom" src="/assets/images/icons/dogLineUp_confirm.svg" alt="Logo"></img>
</figure>

<figure class="image" id="mobile-image">
    <img id="dogs-at-bottom" src="/assets/images/icons/dogLineUp_mobile_confirm.svg" alt="Logo"></img>
</figure>


<script type="text/javascript" src="/assets/js/confirmation.js"></script>