<img src="/assets/images/logo.svg" alt="Logo">


<p style="text-align: center; font-size: 300%;"> {{dogName}} is excited to hang out with you {{volunteerName}}!</p>

<div class="container" style="margin-bottom: auto;">
    <div class="row">
        <div class="col-sm-6">
            <img style="border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;" src="{{img_path}}" alt="{{dogName}} headshot">
        </div>
        <div class="col-sm-6">
            <p>
                Please contact the Atlanta Humane Society to set up a time to walk {{dogName}}!
            </p>
            <br>
            <ul>
                <li>
                    Address: 981 Howell Mill Road NW, Atlanta,GA 30318
                </li>
                <li>
                    Phone Number: (404) 875-5331
                </li>
            </ul>
        </div>
    </div>
</div>