<section class="hero is-primary is-large">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item"> <img src="/assets/images/logo.svg" alt="Logo" style="width: 152px"> </a>
                </div>
            </div>
        </nav>
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container has-text-centered">
            <!-- Shelter Logo -->
            <img src="/assets/images/ahs.svg" alt="Logo" style="margin-top: -150%;">
            <!-- ADD DOG -->
            <div>
                <button id="addBtn" class="button is-white">Add a Dog</button>
            </div>
            <br />
            <br />
            <br />
            <!-- DOGALOG -->
            <div class="columns is-mobile">
                <div class="column">
                    <div class="card">
                        {{#each dogs}}
                        <div class="card-content is-centered">
                            <div class="card-image">
                            <figure class="image is-1by1">
                                <img src="{{img_path}}" alt="Picture of {{name}}"/>
                            </figure>
                        </div>
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4 has-text-dark" id="dog-name">{{name}}</p>
                                    <p class="subtitle is-6 has-text-dark">Age: {{age}}</p>
                                    <p class="subtitle is-6 has-text-dark">Breed: {{breed}}</p>
                                    <p class="subtitle is-6 has-text-dark">Gender: {{gender}}</p>
                                    <p class="subtitle is-6 has-text-dark">Size: {{size}}</p>
                                    <p class="subtitle is-6 has-text-dark">Energy Level: {{energy_level}}</p>
                                </div>
                            </div>
                            <div class="content">
                                {{bio}}
                                <br />
                            </div>
                            <p class="subtitle is-6 has-text-dark">
                                {{#if available}}
                                    Available
                                {{else}}
                                    Not Available
                                {{/if}}
                            </p>
                        </div>
                        <footer class="card-footer">
                            <a href="/dashboard/edit/{{id}}" id="editBtn" class="card-footer-item">Edit</a>
                            <a id="deleteBtn" class="card-footer-item" data-id="{{id}}">Delete</a>
                        </footer>
                    </div>
                    {{/each}}
                </div>
                <div class="column"></div>
                <div class="column"></div>
                <div class="column"></div>
            </div>
        </div>
    </div>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <p>Do you want to delete this dog?</p>
    <button id="yesBtn">Yes</button>
    <button id="noBtn">No</button>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
        <nav class="tabs">
            <div class="container">
                <h5>© 2020 BarkMatch, Inc. All rights reserved</h5>
            </div>
        </nav>
    </div>
</section>

<script type="text/javascript" src="/assets/js/dashboard.js"></script>