<!-- Hero content: will be in the middle -->
<section class="section">
    <div class="container has-text-centered">
        <!-- Shelter Logo -->
        <img src="/assets/images/ahs.svg" alt="Logo" style="margin-top: 50px;" id="shelter-logo">

        <h4 class="subtitle is-4">Add any dogs within the shelter to be available for walkies!</h4>

        <!-- ADD DOG -->
        <div>
            <button id="addBtn" class="button is-large is-white">Add a Dog</button>
        </div>
        <!-- DOGALOG -->
        <div class="columns is-centered is-multiline">
            {{#each dogs}}
            <div class='column is-4'>
                <div class="card" style="margin: 10px;" id="card">
                        <div class="card-image" id="card-image">
                            <figure class="image is-1by1">
                                <img src="{{img_path}}" alt="Picture of {{name}}" />
                            </figure>
                        </div>
                        <div class="card-content is-centered" id="bottom-card">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-3 has-text-dark" id="dog-name">{{name}}</p>
                                <p class="subtitle is-6 has-text-dark">{{age}} years</p>
                                <p class="subtitle is-6 has-text-dark">{{breed}}</p>
                                <p class="subtitle is-6 has-text-dark">{{gender}}</p>
                                <p class="subtitle is-6 has-text-dark">{{size}}</p>
                                <p class="subtitle is-6 has-text-dark">{{energy_level}} Energy</p>
                            </div>
                        </div>
                        <div class="content subtitle is-6 has-text-dark">
                            {{bio}}

                        </div>
                        <p class="subtitle is-6 has-text-dark">Currently 
                            {{#if available}}
                            Available
                            {{else}}
                        <p>Currently walking with {{Volunteer.name}}</p>
                        <p>Contact: {{Volunteer.phone}} </p>
                        {{/if}}
                        </p>
                    </div>
                    <footer class="card-footer">
                        <a href="/dashboard/edit/{{id}}" id="editBtn" class="card-footer-item">Edit</a>
                        <a class="card-footer-item deleteBtn" data-id="{{id}}" data-dogname="{{name}}">Delete</a>
                        {{#if available}}{{else}}<a id="availableBtn" class="card-footer-item availableBtn"
                            name="{{available}}" data-id="{{id}}">Available</a>{{/if}}
                    </footer>
       </div>
        </div>
        {{/each}}
    </div>

<!-- DELETE MODAL -->
<div class="modal" id="deleteModal">
    <div class="modal-background"></div>
    <div class="modal-card" id="deleteModalCard">
        <div id="delete-dog-modal"><img src="/assets/images/headlines/deleteModalDog.svg" alt="delete dog image"></div>
        <header class="modal-card-head">
            <p class="modal-card-title">Great news! Did <span id="modal-dog-name"></span> get adopted?</p>
            <button class="delete" id="closeBtn" aria-label="close"></button>
        </header>
        <footer class="modal-card-foot">
            <button class="button is-success" id="yesBtn" data-id="">Yes!</button>
            <button class="button" id="noBtn" data-bulma-modal="close">Not yet.</button>
        </footer>
    </div>

</section>


<figure class="image" id="desktop-image">
    <img id="dogs-at-bottom" src="/assets/images/icons/dogLineUp_dashboard.svg" alt="Logo"></img>
</figure>

<figure class="image" id="mobile-image">
    <img id="dogs-at-bottom" src="/assets/images/icons/dogLineUp_mobile_dashboard.svg" alt="Logo"></img>
</figure>


<script type="text/javascript" src="/assets/js/dashboard.js"></script>