<h1>Doggolog from the Doggo_DB!</h1>

<ul>
{{#each dogs}}
<br>
<li>Name: {{name}}</li>
<li>Age: {{age}}</li>
<li>Breed: {{breed}}</li>
<li>Gender: {{gender}}</li>
<li>Size: {{size}}</li>
<li>Energy Level: {{energy_level}}</li>
<li>Bio: {{bio}}</li>
<li>Available: {{available}}</li>
<br>
{{/each}}

</ul>