<section class="hero is-primary is-large">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item"> <img src="../public/assets/images/logo.svg" alt="Logo" style="width: 152px"> </a>
                </div>
            </div>
        </nav>
    </div>

<ul>
{{#each dogs}}
<br>
<input type="hidden" value={{id}} name="id">
<li>Name: {{name}}</li>
<li>Age: {{age}}</li>
<li>Breed: {{breed}}</li>
<li>Gender: {{gender}}</li>
<li>Size: {{size}}</li>
<li>Energy Level: {{energy_level}}</li>
<li>Bio: {{bio}}</li>
<li>Available: {{available}}</li>
<img src={{img_path}} alt="Picture of {{name}}" style="width:100px;height:100px">
<br>
{{/each}}

    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
        <nav class="tabs">
            <div class="container">
                <h5>© 2020 BarkMatch, Inc. All rights reserved</h5>
            </div>
        </nav>
    </div>
</section>

                 
