{{!-- BULMA ADD DOG --}}
<section class="section">
  <form id="edit-dog" class="edit-form" data-id="{{id}}">
    <div class="container has-text-centered">
      <div id="add-dog-headline"><img src="/assets/images/headlines/editDogHeadline.svg" alt="edit dog headline">
      </div>
      <div class="box" id="background-box">
        <div class="column is-half is-offset-one-quarter">
          <!-- ADD DOG FORM -->
          <label class="label">Upload Photo</label>
          <div class="file has-name is-centered">
            <label class="file-label">
              <img id="profile-pic" src="{{img_path}}" alt="dog picture"
                style="width:40px;height:40px; margin-right:10px;">
              <input class="file-input" type="file" name="img_path" id="{{img_path}}" />
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label" for="img_path"> Choose a file… </span>
              </span>
              <span class="file-name">
                No file chosen
              </span>
            </label>
          </div>
          <br />
          <div class="field" id="name">
            <label class="label" for="dog">Name</label>
            <div class="control">
              <input class="input" type="text" id="dog-name" name="name" value="{{name}}" />
            </div>
          </div>
          <div class="dropdown" style="margin-bottom: 20px;">

            <div class="field" id="age" style="margin-left: 20px; margin-right: 20px;">
              <label class="label" for="dog">Age</label>
              <div class="control">
                <input class="input" type="text" id="dog-age" name="age" value="{{age}}" />
              </div>
            </div>

            <div class="field" id="breed" style="margin-left: 20px; margin-right: 20px;">
              <label class="label" for="dog">Breed</label>
              <div class="control">
                <input class="input" type="text" id="dog-breed" name="breed" value="{{breed}}" />
              </div>
            </div>

          </div>

          <div class="field">
            <label class="label" for="dog">Brief Bio</label>
            <div class="control">
              <textarea class="textarea" type="text" id="dog-bio" name="bio" value="{{bio}}"></textarea>
            </div>
          </div>

          <div class="dropdown" style="margin-bottom: 10px; padding: 10px;">

            <div class="field" id="gender" style="padding: 10px;">
              <label class="label" for="gender">Gender</label>
              <div class="control">
                <label class="radio">
                  <input type="radio" name="gender" value="Male" data-name="Male" checked />
                  Male
                </label>
                <label class="radio">
                  <input type="radio" name="gender" value="Female" data-name="Female" />
                  Female
                </label>
              </div>
            </div>

            <div class="field" id="size" style="padding: 10px;">
              <label class="label" for="size">Size</label>
              <div class="control">
                <div class="select">
                  <select name="size">
                    <option id="#dog-small" value="Small" data-name="Small">Small</option>
                    <option id="#dog-medium" value="Medium" data-name="Medium">Medium</option>
                    <option id="#dog-large" value="Large" data-name="Large">Large</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="field" id="energy" style="padding: 10px;">
              <label class="label">Energy Level</label>
              <div class="control">
                <div class="select">
                  <select name="energy_level">
                    <option id="dog-low" value="Low" data-name="Low">Low</option>
                    <option id="dog-moderate" value="Moderate" data-name="Moderate">Moderate</option>
                    <option id="dog-high" value="High" data-name="High">High</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="field is-grouped is-grouped-centered" style="margin-bottom: 50px;">
          <p class="control">
            <button type="submit" class="button is-info is-medium">
              Submit
            </button>
          </p>
          <p class="control">
            <button class="button is-light is-medium" id="cancelBtn">
              Cancel
            </button>
          </p>
        </div>
      </div>


    </div>



    </div>
  </form>
</section>


<script src="/assets/js/editDog.js"></script>